<% include partials/header %>

    <div class="jumbotron">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, neque perferendis, nisi tempore similique eius delectus distinctio qui possimus maiores ipsum cum libero fugit mollitia beatae adipisci error, impedit maxime.</p>
    </div>

    < % include partials/footer%>