<% include partials/header %>

  <div class="wrapper row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="myNav">
            <a class="navbar-brand" href="#">George's Page</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
               
              
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </nav>
              </ul>
              <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                  <a class="btn btn-primary" href="./signUp.html" role="button" style="margin-right: 5px">Sign Up</a>
                  <a class="btn btn-primary" href="./login.html" role="button">Log In</a>
                </form>
              </nav>
                  
            </div>
    </nav>
    <div class="col-8">
      <div class="card">
              <div class="card-header" >
                Featured
              </div>
              <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
              </div>
      </div>
      <div class="card">
          <div class="card-header" >
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
          </div>
      </div>
      <div class="card">
      <div class="card-header" >
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe deserunt aliquam reprehenderit facere consequuntur voluptatum alias odit tempora iste reiciendis!</p>
        <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
      </div>
      </div>
      <div class="card">
      <div class="card-header" >
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ipsa?</p>
        <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
      </div>
    </div>
    <div class="col-4 float-right">
        <div class="card">
            <div class="card-header" >
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content. <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, ipsa?</p>
              <a href="#" class="btn btn-primary"><i class="fa fa-thumbs-up"></i></a>
            </div>
        </div>
    </div>

    </div>
  </div>
  
< % include partials/footer%>